div {
  height: 50px;
  text-align: center;
}

.border {
  border: 1px black solid;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}